#card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
}
#card-list {
  width: 100%;
  display: grid;
  grid-gap: 1em 0;
  list-style: none;
  margin: 0;
  padding: 0;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
}

.card-list-contents {
  width: fit-content;
  margin: 0.5em 1em;
  list-style: none;
  padding: 0;
}

.card-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px #fff solid;
  border-radius: 5px;
  width: 400px;
  height: 700px;
  cursor: pointer;
  padding: 20px;
}

.card-image,
.card-title,
.card-vote {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-image {
  width: 300px;
  height: 400px;
  margin: auto;
}
.card-title {
  max-height: 50px;
  font-size: 24px;
}

.card-content {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  text-align: left;
}

.card-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#no-result {
  font-size: 36px;
  text-align: center;
}

#root > #card-container > #card-list > #no-result {
  display: flex;
  justify-content: center;
}

.card-content::-webkit-scrollbar {
  width: 10px;
}

.card-content::-webkit-scrollbar-thumb {
  height: 1%;
  background: #ff0000; /* 스크롤바의 색상 */
  border-radius: 10px;
}

.card-title::-webkit-scrollbar {
  width: 10px;
}

.card-title::-webkit-scrollbar-thumb {
  height: 1%;
  background: #ff0000; /* 스크롤바의 색상 */
  border-radius: 10px;
}
