#header {
  width: 100%;
  height: 50vh;
  color: #ff0000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#header > h1 {
  font-size: 72px;
  cursor: pointer;
}

#search-input {
  max-width: 960px;
  width: 960px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
}

#search-btn {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  margin: 20px 0;
  color: #fff;
  background-color: #ff0000;
  cursor: pointer;
}
