@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
@import url("header.css");
@import url("card-container.css");
@import url("pagination.css");
@import url("carousel.css");
* {
  margin: 0;
  padding: 0;
  font-family: "Jua", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: -0.025em;
  font-style: normal;
}

html,
body {
  height: 100%;
  position: relative;
  background-color: #000000;
  color: #fff;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
